img{
    width: 100px;
    height: 100px;
    margin: 20x;
    gap: 5px;
    border: 5px;
    border-color: blueviolet;
}
.div{
    width: 500px;
    height: 500px;
    border: 5px;
    border-color: red;
}