body {
    background-color: #4fbacf;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
}

.mainbox {
    display: flex;
    justify-content: center;
}

.box {
    width: 75%;
    background-color: #D3D9D5;
    padding: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.imgbox {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: #124E66;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}

.img {
    position: relative;
    width: 100%;
    height: 300px;
}

@media screen and (max-width : 1024px) {
    .box{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width : 600px) {
    .box{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 10px;
    }

    .img{
        height: 300px;
    }
}